.product-view__input {
  padding: 10px 14px;
}
.product-view__category {
  width: 240px;
}
.product-view__name {
  width: 100%;
}
.product-view__short-description {
  height: 100px;
  resize: none;
}
.product-view__group-small {
  width: 140px;
}
.product-view__title {
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #404040;
}