.input-default {
    display: block;
    padding: 0.625rem;
    background-color: #f9fafb;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #d1d5db;
}

.label-default {
    display: block;
    margin-bottom: 0.5rem;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}
