
@media screen and (max-width: 720px)  {

    .app-constructor__editor{

        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        //-webkit-box-shadow: 0 6px 8px 0 rgba(34, 60, 80, 0.2);
        //-moz-box-shadow: 0 6px 8px 0 rgba(34, 60, 80, 0.2);
        //box-shadow: 0 6px 8px 0 rgba(34, 60, 80, 0.2);
        //width: 50rem;
        display: flex;
        justify-content: center;
        //width: 100%;
        //transition: all 0.4s linear;
        z-index: 10;
        width: 100%;
        margin: 0 0 0 0;
        //animation: 0.5s editor ease;
    }

    .app-constructor__editor_settings_name{

        font-size: 16px;
        margin: 0 0 1.5rem 0;
        background-color:#2e3442;
        padding: 0.7rem 2rem 0.7rem 1rem;
        //border-top-right-radius: 1rem;
        //border-top-left-radius: 1rem;
        border-radius: 0.5rem;
        position: sticky;
        top: 0;
        color: white;

    }

    .app-constructor__editor_settings_item{


        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 1rem ;
        row-gap: 1rem;
        align-items: end;
        justify-content: center;

    }

    .app-constructor__editor_settings{

        width: 100%;
        background-color: white;
        border-radius: 1rem;
        padding: 0 1rem 2rem 1rem;
        position: relative;
        top:auto;
    }
}

@media screen and (min-width: 720px) and (max-width: 1080px) {



    .app-constructor__editor_settings_item{


        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem ;
        row-gap: 1rem;
        align-items: end;
        justify-content: center;

    }


    .app-constructor__editor_settings{

        width: 100%;
        background-color: white;
        border-radius: 1rem;
        padding: 0 1rem 2rem 1rem;
        position: relative;
        top:auto;
    }
}
