@media screen and (max-width: 450px) {

    .event-view__content{

        padding: 1rem 1rem 3rem;
        min-height: 100%;
    }
}

@media screen and (min-width: 450px) {

    .event-view__content{
        padding: 2rem;
        min-height: 100%;
    }

}


