.pagination {
  display: flex;
  padding: 25px;
}
.pagination__item {
  display: inline-block;
}
.pagination__link {
  display: inline-block;
  padding: 8px 11px;
  text-decoration: none;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #fff;
}
.pagination__active .pagination__link {
  border: 1px solid #eee;
  background: #f9fafc;
}